

  body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: normal;
  }

  /* header {
    color: aliceblue ;
    font-family: 'Courier New', Courier, monospace;
  } */

  a {
    color: black;

  }

  a:hover {
    color: blue;
  }

  button {
    background-color: lightslategray;
    color: black;
  }

  .container {

    width: 100vw;   /* This sets the width */
    margin: 0 0 0 0; /* This automatically sets left/right margins */
    padding:1%;
    border-radius: 4%;
  }

  .card {
    width: 100vw;
    margin: 0 0 0 0 ;
    background-color: whitesmoke;
    padding:1%;
    border-radius: 4%;
  }

  @media (max-width: 960px){
    .container {
      width: 700px;
    }
  }

  @media (max-width: 720px){
    .container {
      width: 500px
    }
  }

  @media (max-width: 540px){
    .container {
      width: 300px;
    }
  }
